@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Tracker</h1>
    <p class="lead">Project Tracker is a simple C# MVC web application that performs CRUD operations using an SQL Server database</p>
    <p>Source Code available at<a href="https://github.com/sheethalsebastian2017/ProjectTracker">GitHub</a>.</p>
</div>
