
@model IEnumerable<ProjectTracker.Models.Project>
@{


    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";

}

<h2>@ViewBag.Title.</h2>

<ul>
    @foreach (var P in Model)
    {
        <li>@Html.ActionLink(P.Name, "ViewProject", "Home", new {  ProjectName = P.Name}, null)</li>
    }
</ul>
